
.calci{

	margin-top:15%;
	margin-left:35%;
	
	border:2px solid black;
	width:27%;
	height:auto; background-color: #A8A8A8; border-radius: 10px;

}

#screen{
	width:90%;
	height:100px;
	margin:5%;
	border:2px solid black; background-color: white	;
}

.row{
   width:100%; margin-top: 2%; margin-bottom: 2%; margin-left: 5%; margin-right: 5%; 
}
 .key{
 	margin-left: 2%; width:20%; height:20%;
 }

.screen{
	color:black;
}